<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <!-- DEPLOYED -->
    <link rel="stylesheet" href="https://chat-rafi.herokuapp.com/app/style.css">
    <script defer src="https://chat-rafi.herokuapp.com/socket.io/socket.io.js"></script>

    <!-- NOT DEPLOYED -->
    <!-- <link rel="stylesheet" href="http://localhost:3000/app/style.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->

    <script defer src="app/app.js"></script>
    <!-- If the defer attribute is set, it specifies that the script is downloaded
    in parallel to parsing the page, and executed after the page has finished parsing. -->

</head>

<body>
    <p id="current-user" class="nice-yellow">minta jános</p>
    <p id="user-count" class="nice-yellow">Users online</p>

    <div id="kerekegesz">
        <div id="all-users-tabs" class="users-tabs">
            <button class="tablinks" id="default-message-tab" onclick="openUserChat(event, 'Lobby')">Lobby</button>
        </div>

        <div id="all-tab-contents" class="tab-contents">

            <div id="Lobby" class="tabcontent">

                <h3 class="content-heading">Send message to everyone</h3>

                <div class="message-holder">
                    <ul class="messages-ul" id="messages-Lobby"></ul>
                </div>

                <form class="form" id="form-lobby">
                    <input id="input" autocomplete="off" /><button>Send</button>
                </form>

            </div>

        </div>
    </div>
</body>

</html>