<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN to Chat</title>
    <style>
        #sign-up-button {
            font-size: 25px;
        }
        
        body {
            /* background-image: url('https://chat-rafi.herokuapp.com/login/backg.jpg'); */
            background-image: url('http://localhost:3000/login/backg.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        form {
            display: table;
        }
        
        div#login-holder {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 500px;
            height: 500px;
            text-align: center;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20%;
            background: linear-gradient(66deg, rgba(0, 202, 255, 1) 0%, rgba(0, 151, 255, 1) 28%, rgba(0, 86, 255, 1) 57%, rgba(141, 0, 255, 1) 86%);
            align-items: center;
            border-radius: 30px;
            /* transition: opacity 0.6s;
            opacity: 0.5; */
        }
        
        div#login-holder:hover {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 500px;
            height: 500px;
            text-align: center;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20%;
            background: linear-gradient(66deg, rgba(0, 202, 255, 1) 0%, rgba(0, 151, 255, 1) 28%, rgba(0, 86, 255, 1) 57%, rgba(141, 0, 255, 1) 86%);
            align-items: center;
            border-radius: 30px;
            /* transition: opacity 0.6s;
            opacity: 1; */
        }
        
        label,
        input {
            margin-bottom: 10px;
            font-size: 25px;
        }
        
        label {
            padding-right: 10px;
            background: radial-gradient(circle, rgb(192, 3, 3) 0%, rgb(238, 143, 0) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        input.nice {
            display: inline-block;
            padding: 0.5em 3em;
            border: 0.16em solid #ff7b00;
            margin: 0 0.3em 0.3em 0;
            box-sizing: border-box;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #ff7b00;
            text-align: center;
            transition: all 0.15s;
            background: rgba(255, 255, 255, 0);
        }
        
        input.nice:hover {
            color: #ff0000;
            border-color: #ff0000;
        }
        
        input.nice:active {
            color: #9900ff;
            border-color: #9900ff;
        }
    </style>
</head>

<body>
    <div id="login-holder">
        <form action="/login" method="POST" id="login-form">
            <div>
                <label for="username">Enter your username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Enter your password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <input class="nice" type="submit" value="Login!">
            </div>
            <% if (message){ %>
                <p style="font-size: 35px;">
                    <%= message %>
                </p>
                <% } %>
        </form>
        <div>
            <form action="/signup" method="GET">
                <label for="sign-up-button">Don't have an account?</label>
                <br>
                <br>
                <input class="nice" type="submit" value="Signup!">
            </form>
        </div>
    </div>
</body>

</html>