body {
    background-image: url('chatbg.jpg');
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}

div.sign-out-field {
    text-align: center;
}


.nice-yellow {
    font-size: 25px;
    border: solid 2px black;
    width: 20%;
    background: #ffae00;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sign-out-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ff0000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ff0000;
    text-align: center;
    transition: all 0.2s;
}

#sign-out-button:hover {
    color: #000000;
    background-color: #ff0000;
}

#sentAt-style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: italic;
}

#message-style {
    font-size: 25px;
}

#username-style {
    font-size: 20px;
    font-weight: bold;
}

#kerekegesz {

    position: relative;
    width: 100%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;

}



.message-holder {

    width: 100%;
    top: 55px;
    overflow: scroll;
    position: absolute;
    bottom: 3rem;
    border: 5px solid rgb(3, 95, 201);
    background-color: #fde88886;
    overflow-x: hidden;
}

form {

    position: absolute;
    background: rgb(3, 95, 201);
    padding: 0.25rem;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

.form>button {
    background: rgb(120, 88, 236);
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.messages-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages-ul>li {
    padding: 0.5rem 1rem;
    background: #ddd7b2c9;
}

.messages-ul>li:nth-child(odd) {
    background: #4d91b8da;
}

#all-users {
    float: left;
    height: 20px;
    width: 300px;
    background-color: #ffae00;
    margin-bottom: 100px;
}

#users-list {
    list-style-type: none;
}

* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */
.users-tabs {
    position: absolute;
    bottom: 0px;
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 10%;
    height: 100%;
}

/* Style the buttons inside the tab */
.users-tabs button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.users-tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.users-tabs button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    margin-left: 10%;
    float: left;
    position: absolute;
    border: 1px solid #ccc;
    width: 90%;
    border-left: none;
    height: 100%;
    animation: fadeEffect 1s;
}

.content-heading {
    padding: 0px 12px;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}